<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/auth/sign-up" method="post" enctype="multipart/form-data">
        <!-- enctype저 속성을 지정해야 파일이 서버로 넘어간다. -->
        <input type="email" name="email" id="email">
        <input type="password" name="password" id="password">
        <input type="file" name="img" id="image">
        <!-- email image가 req.body에 담겨져서 action POST된다. -->
        <input type="submit" value="SIGN-UP">
    </form>
</body>
</html>